<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>DGP Empreendimentos</title>
      <meta name="author" content="David Grzyb">
      <meta name="description" content="">
      <!-- Tailwind -->
      <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
      <style>
         @import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');
         body { font-family: dosis; }

         .bg-sidebar { background: #3d68ff; }
         .cta-btn { color: #3d68ff; }
         .upgrade-btn { background: #1947ee; }
         .upgrade-btn:hover { background: #0038fd; }
         .active-nav-link { background: #1947ee; }
         .nav-item:hover { background: #1947ee; }
         .account-link:hover { background: #3d68ff; }
        
      </style>
   </head>
   <body class="bg-gray-100 flex">
      <div x-data="{ sidemenu: false }" class="w-full flex-grow lg:flex lg:items-top lg:w-auto lg:block pt-6 lg:pt-0 overflow-hidden" x-cloak @keydown.window.escape="sidemenu = false">
      <div class="md:hidden">
         <div @click="sidemenu = false" class="fixed inset-0 z-30 bg-gray-600 opacity-0 pointer-events-none transition-opacity ease-linear duration-300" :class="{'opacity-75 pointer-events-auto': sidemenu, 'opacity-0 pointer-events-none': !sidemenu}"></div>
         <!-- Small Screen Menu --> 
         <div class="fixed inset-y-0 left-0 flex flex-col z-40 max-w-xs w-full bg-white transform ease-in-out duration-300 -translate-x-full" :class="{'translate-x-0': sidemenu, '-translate-x-full': !sidemenu}">
            <!-- Brand Logo / Name -->
            <div class="flex items-center px-6 py-3 h-16">
               <div class="text-2xl font-bold tracking-tight text-gray-800">Resumo</div>
            </div>
            <!-- @end Brand Logo / Name -->
            <div class="px-4 py-2 flex-1 h-0 overflow-y-auto">
               <ul>
                  <li>
                     <a href="http://api-paulinhomonteiro-com.umbler.net/admin/<%= token %>"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <rect x="4" y="4" width="6" height="6" rx="1" />
                           <rect x="14" y="4" width="6" height="6" rx="1" />
                           <rect x="4" y="14" width="6" height="6" rx="1" />
                           <rect x="14" y="14" width="6" height="6" rx="1" />
                        </svg>
                        Painel
                     </a>
                  </li>
                  <li>
                     <a href="http://api-paulinhomonteiro-com.umbler.net/clientes/<%= token %>"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-blue-600 hover:text-blue-600 hover:bg-gray-200 bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <line x1="4" y1="19" x2="20" y2="19" />
                           <polyline points="4 15 8 9 12 11 16 6 20 10" />
                        </svg>
                        Clientes
                     </a>
                  </li>
                  <li>
                     <a href="#"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <polyline points="14 3 14 8 19 8" />
                           <path d="M17 21H7a2 2 0 0 1 -2 -2V5a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                           <line x1="9" y1="9" x2="10" y2="9" />
                           <line x1="9" y1="13" x2="15" y2="13" />
                           <line x1="9" y1="17" x2="15" y2="17" />
                        </svg>
                        Empreendimentos
                     </a>
                  </li>
                  <li>
                     <a href="#"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <circle cx="12" cy="12" r="9" />
                           <polyline points="12 7 12 12 9 15" />
                        </svg>
                        Lotes
                     </a>
                  </li>
                  <li>
                     <a href="#"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <path
                              d="M16 6h3a 1 1 0 011 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                           <line x1="8" y1="8" x2="12" y2="8" />
                           <line x1="8" y1="12" x2="12" y2="12" />
                           <line x1="8" y1="16" x2="12" y2="16" />
                        </svg>
                        Cotas
                     </a>
                  </li>
                  <li>
                     <a href="#"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <path
                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                           <circle cx="12" cy="12" r="3" />
                        </svg>
                        Lançamentos
                     </a>
                  </li>
                  <li>
                     <a href="#"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <path
                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                           <circle cx="12" cy="12" r="3" />
                        </svg>
                        Contas
                     </a>
                  </li>
                  <li>
                     <a href="#"
                        class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                           viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                           stroke-linecap="round" stroke-linejoin="round">
                           <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                           <path
                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                           <circle cx="12" cy="12" r="3" />
                        </svg>
                        Configurações
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- @end Small Screen Menu -->
      </div>
      <!-- Menu Above Medium Screen -->
      <div class="bg-white w-64 min-h-screen overflow-y-auto hidden md:block shadow relative z-30">
         <!-- Brand Logo / Name -->
         <div class="flex items-center px-6 py-3 my-4">
            <div class="text-2xl font-bold tracking-tight text-gray-800">
               Bem vindo, Gilson!            
            </div>
         </div>
         <!-- @end Brand Logo / Name -->
         <div class="px-4 py-2">
            <ul>
               <li>
                  <a href="http://api-paulinhomonteiro-com.umbler.net/admin/<%= token %>"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <rect x="4" y="4" width="6" height="6" rx="1" />
                        <rect x="14" y="4" width="6" height="6" rx="1" />
                        <rect x="4" y="14" width="6" height="6" rx="1" />
                        <rect x="14" y="14" width="6" height="6" rx="1" />
                     </svg>
                     Painel
                  </a>
               </li>
               <li>
                  <a href="http://api-paulinhomonteiro-com.umbler.net/clientes/<%= token %>"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-blue-600 hover:text-blue-600 hover:bg-gray-200 bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <line x1="4" y1="19" x2="20" y2="19" />
                        <polyline points="4 15 8 9 12 11 16 6 20 10" />
                     </svg>
                     Clientes
                  </a>
               </li>
               <li>
                  <a href="#"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <polyline points="14 3 14 8 19 8" />
                        <path d="M17 21H7a2 2 0 0 1 -2 -2V5a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                        <line x1="9" y1="9" x2="10" y2="9" />
                        <line x1="9" y1="13" x2="15" y2="13" />
                        <line x1="9" y1="17" x2="15" y2="17" />
                     </svg>
                     Empreendimentos
                  </a>
               </li>
               <li>
                  <a href="#"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <circle cx="12" cy="12" r="9" />
                        <polyline points="12 7 12 12 9 15" />
                     </svg>
                     Lotes
                  </a>
               </li>
               <li>
                  <a href="#"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <path
                           d="M16 6h3a 1 1 0 011 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                        <line x1="8" y1="8" x2="12" y2="8" />
                        <line x1="8" y1="12" x2="12" y2="12" />
                        <line x1="8" y1="16" x2="12" y2="16" />
                     </svg>
                     Cotas
                  </a>
               </li>
               <li>
                  <a href="#"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <path
                           d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <circle cx="12" cy="12" r="3" />
                     </svg>
                     Lançamentos
                  </a>
               </li>
               <li>
                  <a href="#"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <path
                           d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <circle cx="12" cy="12" r="3" />
                     </svg>
                     Contas
                  </a>
               </li>
               <li>
                  <a href="#"
                     class="mb-1 px-2 py-2 rounded-lg flex items-center font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-200">
                     <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 opacity-50" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <path
                           d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <circle cx="12" cy="12" r="3" />
                     </svg>
                     Configurações
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <!-- @end Menu Above Medium Screen -->
      <div class="flex-1 flex-col relative z-0 overflow-y-auto">        

         <div class="px-4 md:px-8 py-2 h-24 flex justify-between items-center shadow-sm bg-white">
            <div class="flex items-center w-2/3">
               <input id="mySearch" class="bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-white border border-transparent focus:border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal hidden md:block placeholder-gray-700" type="text" placeholder="Buscar...">
               <div class="p-2 rounded-full hover:bg-gray-200 cursor-pointer md:hidden" @click="sidemenu = !sidemenu">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600"
                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                     <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                     <line x1="4" y1="6" x2="20" y2="6" />
                     <line x1="4" y1="12" x2="20" y2="12" />
                     <line x1="4" y1="18" x2="20" y2="18" />
                  </svg>
               </div>
               <div class="text-xl font-bold tracking-tight text-gray-800 md:hidden ml-2">Menu</div>
            </div>
            <div class="flex items-center">
               <div class="cursor-pointer w-48 h-48 flex items-center justify-center">
                  <img class="hover:opacity-75" src="http://www.paulinhomonteiro.com/dgp/img/logo.png">
               </div>
            </div>
         </div>

         <div class="md:max-w-6xl md:mx-auto px-4 py-0">
          <div class="container mx-auto py-6 px-2">
          </div>            
        </div> 
        
        <div class="md:max-w-6xl md:mx-auto px-4 py-0">
            <form action="http://api-paulinhomonteiro-com.umbler.net/cliente/delete/<%=token%>/<%=id%>" method="post" class="p-10 bg-white rounded shadow-xl">
              <p class="text-lg text-red-800 font-medium pb-4">Exclusão de Clientes</p>
              <div class="mt-2">
                <label class="block text-md text-gray-600" for="cus_nome">Nome</label>
                <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_nome" name="cus_nome" type="text" required="" placeholder="Nome" aria-label="Name" style="font-weight: bold" value ="<%=cliente%>" disabled>
              </div>
              <div class="mt-2">
                <label class="block text-md text-gray-600" for="cus_end">Endereço</label>
                <input class="w-full px-2  py-2 text-gray-700 bg-gray-200 rounded" id="cus_end" name="cus_end" type="text" required="" placeholder="Endereço" aria-label="Endereço" value ="<%=endereco%>" disabled>
              </div>
              <div class="mt-2">
                <label class=" block text-md text-gray-600" for="cus_email">Email</label>
                <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Email" aria-label="Email" value ="<%=email%>" disabled>
              </div>
              <div class="inline-block mt-2 w-1/2 pr-1">
                <label class="block text-md text-gray-600" for="cus_tel1">Telefone</label>
                <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_tel1" name="cus_tel1" type="text" required="" placeholder="Telefone" aria-label="Telefone" value ="<%=celular%>" disabled>
              </div>
              <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                <label class="block text-md text-gray-600" for="cus_tel2">Telefone</label>
                <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_tel2" name="cus_tel2" type="text" required="" placeholder="Whatsapp" aria-label="Whatsapp" value ="<%=telefone%>" disabled>
              </div>

              <div class="mt-4 flex justify-between">
                <a href="http://api-paulinhomonteiro-com.umbler.net/clientes/<%= token %>"> 
                  <div class="px-4 bg-indigo-400 p-3 rounded-lg text-white hover:bg-indigo-600">Cancelar</div>
                </a>
                <input type="submit" value="Excluir" class="px-4 bg-red-400 p-3 rounded-lg text-white hover:bg-red-600">
              </div>
          </form>
        </div>
      </div>
      
      
      <!-- AlpineJS -->
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
      <!-- Font Awesome -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

   </body>
</html>